.dropdown {
  display: inline-block;
}
.dropdown button {
  padding: 12px 12px;
}
.dropdown button:hover {
  background-color: darksalmon;
  cursor: pointer;
}
.dropdown .content {
  position: absolute;
  display: none;
  min-width: 100px;
  box-shadow: 2px 2px 2px #000;
}
.dropdown:hover .content {
  display: block;
}
.dropdown a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;

  background-color: #f2f2f2;
}
.dropdown a:hover {
  background-color: darksalmon;
}
